.clock {
    position: absolute;
    top: 75px;
    right: 10px;

    font-family: "Courier New", monospace;
    font-size: 0.8rem;
    color: #666;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6px 10px;
    border-radius: 8px;
    z-index: 10;
}

@media (max-width: 768px) {
    .clock {
        top: 60px;
        right: 5px;
        font-size: 0.75rem;
        padding: 4px 6px;
        max-width: 100%;
        line-height: 1.2;
        text-align: right;
    }
}
