.section {
    background: white;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    border: 1px solid #eee;
}

.section__header {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.section__title {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    color: #1d1d1f;
    text-align: center;
}

.section__body {
    padding: 20px;
}
